  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 236 43% 2%;
      --foreground: 236 28% 97%;
      --muted: 236 29% 10%;
      --muted-foreground: 236 3% 60%;
      --popover: 236 43% 2%;
      --popover-foreground: 236 28% 97%;
      --card: 236 43% 3%;
      --card-foreground: 236 28% 98%;
      --border: 236 3% 13%;
      --input: 236 3% 13%;
      --primary: 236 74% 30%;
      --primary-foreground: 236 74% 90%;
      --secondary: 236 9% 12%;
      --secondary-foreground: 236 9% 72%;
      --accent: 236 17% 19%;
      --accent-foreground: 236 17% 79%;
      --destructive: 4 95% 57%;
      --destructive-foreground: 0 0% 100%;
      --ring: 236 74% 30%;
      --radius: 0.5rem;
            
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }